.parallelogram1 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 200px;
  height: 100px;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: white;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  padding-left: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);
}

.parallelogramDurban {
  background: #973990;
  position: absolute;
  z-index: 4;
  margin-left: 1.5em;
  margin-top: 1em;
  top: 20em;
}

#overtext {
  position: absolute;
  z-index: 5;
  margin-left: 2em;
  margin-top: 1em;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  top: 10.5em;
}

.head {
  font-family: "Segoe Print";
  color: #973990;
  font-size: 20px;
}

.divSurfboard {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 5em;
}

.banner {
  left: auto;
  right: auto;
  height: 30em;
}

a.info
{
  position:relative;
  z-index:1;

  text-decoration:none;
}

a.info:hover
{
  z-index:2;

}

a.info span
{
  display: none;
}

a.info:hover span
{
  display:block;
  position:absolute;
  top:-270px;
  left:-700px;
  width:675px;
  height: 529px;
  background: url(images/JJ_surf.jpg);
  border-radius: 20px;
}


.img1{
    display: none;
}

.img2{
    display: none;
}

@media only screen and (max-width: 750px){
    .img3{
        display: none;
    }

    .img2{
        display: block;
    }
}

@media only screen and (max-width: 500px){
    .img2{
        display: none;
    }

    .img1{
        display: block;
    }
}

@media only screen and (max-width: 500px){
    .img2{
        display: none;
    }

    .img1{
        display: block;
    }
}

.text{
    font-size: larger;

}
