.steckbrief {
  position: relative;
  background: #f5f5f5;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 330px;
  font-size: 20px;
  padding: 25px;
  min-height: 455px;
}


.text {
  font-size: 14px;
}

.round {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  min-width: 100px;
  max-width: 150px;

}

ul {
  list-style: none;
  padding: 0px;
}

.img-responsive {
  margin: 0px;
  margin-left: 2em;
}

#headContact {
  font-family: 'Rock Salt', cursive;
  color: #2856a3;
}
