.banner {
    height: 30em;
    left: auto;
    right: auto;
 }

 #blue-container {
     background-color: #4a68a5;
     width:100%;
     height:auto;
     color: white;
     font-size: 110%;
     float: right;
     text-align: center;
    display: block;
     -webkit-transform:    skewX(-20deg);
     transform:    skewX(-20deg);
     -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
     box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
     z-index: 96;
 }

h2{
    color:white;
    font-family: "Impact";
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}


td{
    height: 120%;
}


h3{
    color:#4a68a5 ;
    font-family: "Segoe Print";
}




.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-bottom: 2em;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}



.parallelogram1 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 200px;
  height: 100px;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: white;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  padding-left: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);
}

.parallelogramDUT {
  background: #2856a3;
  position: absolute;
  z-index: 4;
  margin-left: 1.5em;
  margin-top: 1em;
  top: 18em;
}

#overtext {
  position: absolute;
  z-index: 5;
  margin-left: 2em;
  margin-top: 1em;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  top: 9.5em;
}

.img-responsive{
   align-items: left;
}

#vContainer {
    margin-top: 200px;
    text-align: center;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
#video {
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.img1{
    display: none;
}

.img2{
    display: none;
}

@media only screen and (max-width: 750px){
    .img3{
        display: none;
    }

    .img2{
        display: block;
    }
}

@media only screen and (max-width: 576px){
    .img2{
        display: none;
    }

    .img1{
        display: block;
    }
}

@media only screen and (max-width: 500px){
    .img2{
        display: none;
    }

    .img1{
        display: block;
    }
}

.effect:hover {
    border: 2px solid;
    border-color: transparent;
}

h4{
    color:#4a68a5 ;
}

.text{
    font-size: larger;
}

#content{
    margin-left: 20px;
}