
@media(max-width:767px) {
  .pic-responsive {
    display: block;
    max-width: 100%;
  }
}

@media(min-width:768px){
  .pic-responsive {
    display: block;
    max-width: 100%;
}
}
@media(min-width:992px){
  .pic-responsive {
    display: block;
    max-width: 100%;
}
}
@media(min-width:1200px){
  .pic-responsive {
    display: block;
    max-width: 100%;
}
}

.banner {
 height: 33em;
}

.parallelogram1 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 200px;
  height: 100px;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: white;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  padding-left: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);
}

.parallelogramExperiences {
  background: #1C8341;
  position: absolute;
  z-index: 4;
  margin-left: 1.5em;
  margin-top: 1em;
  top: 20em;
}

.durban{
  background:url(images/durbanex.jpg) fixed;
}

.outside{
  background: url(images/road.jpg) fixed;
}

.parallelogramDurban{
  z-index: 4;
  top: 30em;
  width: 400px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;

}

#overtext {
  position: absolute;
  z-index: 5;
  margin-left: 2em;
  margin-top: 1em;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  top: 10.5em;
}

.header {
    font-family: 'Roboto', cursive;
    font-size: 30px;
    line-height: 1.42857143;
    color: #2856a3;
    height: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.round {
border-radius: 100%;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
width: 200px;
  margin: 5px;
}

.bubble {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 250px;
  height: 150px;
  position: relative;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #4a68a5;
  padding: 1em;
  margin: 5px;
}

.bubble::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: 26px;
  right: 100%;
  border: 13px solid rgba(0,0,0,0);
  border-right: 26px solid #4a68a5;
  border-left: 0 solid;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: none;
}

.bubble-left {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 250px;
  height: 150px;
  position: relative;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1C8341;
  padding: 1em;
  margin: 10px;
}

.bubble-left::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: 26px;
  left: 100%;
  border: 13px solid rgba(0,0,0,0);
  border-right: 0 solid;
  border-left: 26px solid #1C8341;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: none;
}

.col-md-12 {
  margin-bottom: 2em;
}

.col-md-4 {
  margin-bottom: 2em;
}

.col-md-6 {
  margin-bottom: 2em;
}

.leftPict {
  float: left;
}

.rightPict {
  float: right;
}


.experiences-section {
    padding: 1em 0 3.5em;
}

.img-responsive {
  min-height: 230px;
  max-height: 230px;
}

.img-responsive:hover {
  border: 2px solid;
  border-color: transparent;
}

.drakensberge {
   background:url(images/drakensberge.jpg) no-repeat;
}


.santalucia {
   background:url(images/santalucia.jpg) no-repeat;
}


.capetown {
   background:url(images/capetown.jpg) no-repeat;
}


.surfen{
  background: url("images/surfer.jpg")no-repeat;
}

.stadion{
  background: url("images/stadion.jpg")no-repeat;
}

.ushaka{
  background: url("images/ushaka-marine.jpg")no-repeat;
}

.goldenmile{
  background: url("images/durban_golden_mile.jpg")no-repeat;
}

.party{
  background: url("images/floridaroad.jpg")no-repeat;
}

.township{
  background: url("images/township.jpg") no-repeat;
}

a:link {
  color: white;
}

.drehung3 {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 200px;
  margin: 5px;
  height: 200px;
  perspective: 1500px; /* Hier wird die Perspektive der gesamten Szene festgelegt. Der Wert hat Auswirkung auf die Verzerrung */
}

.drehung3:hover .turnaround {
  transform: rotateY(180deg); /* Beim Mouse-Over wird die Szene umgedreht */
}

.drehung3 .front {
  background: url(images/student2.jpg) 0 0 no-repeat;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 200px;
  margin: 5px;
  height: 200px;
}

.drehung3 .back {
  background: url(images/student2w.jpg) 0 0 no-repeat;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 200px;
  margin: 5px;
  height: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: white;
}

.drehung2 {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 200px;
  margin: 5px;
  height: 200px;
  perspective: 1500px; /* Hier wird die Perspektive der gesamten Szene festgelegt. Der Wert hat Auswirkung auf die Verzerrung */
}

.drehung2:hover .turnaround {
  transform: rotateY(180deg); /* Beim Mouse-Over wird die Szene umgedreht */
}

.drehung2 .front {
  background: url(images/student3.jpg) 0 0 no-repeat;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 200px;
  margin: 5px;
  height: 200px;
}

.drehung2 .back {
  background: url(images/student3sw.jpg) 0 0 no-repeat;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 200px;
  margin: 5px;
  height: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: white;
}


.drehung1 {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 200px;
  margin: 5px;
  height: 200px;
  perspective: 1500px; /* Hier wird die Perspektive der gesamten Szene festgelegt. Der Wert hat Auswirkung auf die Verzerrung */
}

.drehung1:hover .turnaround {
  transform: rotateY(180deg); /* Beim Mouse-Over wird die Szene umgedreht */
}

.drehung1 .front {
  background: url(images/people2.jpg) 0 0 no-repeat;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 200px;
  margin: 5px;
  height: 200px;
}

.drehung1 .back {
  background: url(images/people2sw.jpg) 0 0 no-repeat;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 200px;
  margin: 5px;
  height: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: white;
}


.drehung {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 200px;
  margin: 5px;
  height: 200px;
  perspective: 1500px; /* Hier wird die Perspektive der gesamten Szene festgelegt. Der Wert hat Auswirkung auf die Verzerrung */
}

.drehung:hover .turnaround {
  transform: rotateY(180deg); /* Beim Mouse-Over wird die Szene umgedreht */
}

.drehung .front {
  background: url(images/student.JPG) 0 0 no-repeat;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 200px;
  margin: 5px;
  height: 200px;
}

.drehung .back {
  background: url(images/studentsw.jpg) 0 0 no-repeat;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 200px;
  margin: 5px;
  height: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: white;
}

.turnaround {
  transition: .5s /* Die Drehung soll 0,5 Sekunden dauern */;
  transform-style: preserve-3d; /* Kind-Elemente  (.front + .back) sollen ihre 3D-Eigenschaften behalten*/
  position: relative;
  height: 100%;
}

.front,
.back {
  backface-visibility: hidden /* Die Rückseite von Elementen soll unsichtbar sein */;
  position: absolute;
  width: 100%;
  height: 100%;
}

.front { z-index: 2; }

.back {
  transform: rotateY(180deg) /* Die Rückseite des Logos wird umgedreht, um dann bei der Drehung der gesamten Szene vorne zu sein :) */;
  z-index: 1;
}