.parallelogram1 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 200px;
  height: 100px;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: white;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  padding-left: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);
}

.parallelogramStarted {
  background: #2856a3;
}

#overtext {
  position: absolute;
  z-index: 5;
  margin-left: 3em;
  margin-top: 1em;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.parallelogramAccom{
  background: #9c61a6;
}

#overtext2 {
  position: absolute;
  z-index: 6;
  margin-left: 3em;
  margin-top: 2em;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.parallelogramTrans{
  background: #973990;
}

#overtext3 {
  position: absolute;
  z-index: 6;
  margin-left: 3em;
  margin-top: 2em;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

#headAccomm {
  font-family: 'Rock Salt', cursive;
  color: #9c61a6;
}

.trPurble {
  background-color: #9c61a6;
  border-bottom: 1px solid;
  border-color: white;
  color: white;
}

#tdHead {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

#tdContent {
  background-color: white;
  color: black;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #9c61a6;
}

.pHead {
  background-color: #a42896;
  color: white;
}

#headTransport {
  font-family: 'Rock Salt', cursive;
  color: #973990;
}

.transport {
  margin-top: 15px;
}
