.h1center {
  text-align: center;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  color: gray;
  font-size: 38px;
}

.parallelogram2 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 200px;
  height: 100px;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: white;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  padding-left: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);
}

.parallelogramAccom{
  background: #9bd7da;
}

#overtext2 {
  position: absolute;
  z-index: 6;
  margin-left: 3em;
  margin-top: 2em;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
}


/* carousel */

.carousel {
  width: 100%;
  background-color: #000;
  height: 400px;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-fade .carousel-control .glyphicon {
  font-size: 6rem;
}

.carousel, .carousel-inner, .carousel-inner .item {
  height: 600px;
}

.stopfade {
  opacity: 0.5;
}

.slide-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.slide-content video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.slide-content video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

.door {
  font-family: Revista-Black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.door .title {
  font-size: 14rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 13rem;
}

.door .description {
  border-top: 1px solid #fff;
  margin-top: 100px;
  font-size: 4rem;
}

/* newsblock */

.news-section {
  padding: 1em 0 3.5em;
}

a.news-btn {
  color: #000;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: #008e10;
  color: #FFF;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

a.news-btn:hover {
  background: #161616;
}

.news-column {
  margin-bottom: 0.5em;
}

.news-column h4 {
  font-size: 1.3em;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  padding: 0.8em 0 0.3em;
  margin: 0;
}

.news-column p {
  color: #777;
  line-height: 1.7em;
  padding: 0.1em 0 0em;
  display: block;
  font-size: 1em;
}

.older-news {
  margin-top: 4em;
  margin-bottom: 3em;
}

.img-responsive {
  min-height: 230px;
  max-height: 230px;
}

.img-responsive:hover {
  border: 2px solid;
  border-color: transparent;
}

.description1{

border-top: 1px solid #fff;
margin-top: 100px;
font-size: 3.5rem;
color: black;



}
