@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.navbar {
    min-height: 65px;
    border: none;
    background-color: lightgrey;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
}

.navbar-right {
  min-height: 65px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.navbar-inverse .navbar-nav>li> {
    color: grey;
    background-color: white;
    min-height: 65px;
}

.navbar-right>li>a {
    color: grey;
    background-color: white;
    min-height: 65px;
    min-width: 120px;
    text-align: center;
}

.navbar-header {
  min-height: 65px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: white;
    background-color: lightgrey;
}

.navbar-inverse .navbar-nav>li>a:focus {
    color: white;
    background-color: lightgrey;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #333;
}

/* background-color li>a navbar */

#aLightGreen {
  background-color: lightgrey;
  color: white;
  padding-top: 20px;
}

#aLightGreen:hover {
  background-color: #9bd7da;
  -webkit-transform:    skewX(-20deg);
  transform:    skewX(-20deg);
  -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  z-index: 100;
}

#aLightGreen:focus {
  background-color: #9bd7da;
  -webkit-transform:    skewX(-20deg);
  transform:    skewX(-20deg);
  -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  z-index: 100;
}

#aPurple:hover{
  background-color: #973990;
  -webkit-transform:    skewX(-20deg);
  transform:    skewX(-20deg);
  -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  z-index: 100;
}

#aPurple:focus{
  background-color: #973990;
  -webkit-transform:    skewX(-20deg);
  transform:    skewX(-20deg);
  -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  z-index: 100;
}

#aPurple {
  background-color: lightgrey;
  color: white;
  padding-top: 20px;
}

#aDarkGreen:hover {
  background-color: #00a457;
  -webkit-transform:    skewX(-20deg);
  transform:    skewX(-20deg);
  -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  z-index: 99;
}

#aDarkGreen:focus {
  background-color: #00a457;
  -webkit-transform:    skewX(-20deg);
  transform:    skewX(-20deg);
  -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  z-index: 99;
}

#aDarkGreen {
  background-color: lightgrey;
  color: white;
  padding-top: 20px;
}

#aRed:hover {
  background-color: #e2373b;
  -webkit-transform:    skewX(-20deg);
  transform:    skewX(-20deg);
  -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  z-index: 98;
}

#aRed:focus {
  background-color: #e2373b;
  -webkit-transform:    skewX(-20deg);
  transform:    skewX(-20deg);
  -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  z-index: 98;
}

#aRed {
  background-color: lightgrey;
  color: white;
  padding-top: 20px;
}

#aLightBlue:hover {
  background-color: #9bd7da;
  -webkit-transform:    skewX(-20deg);
  transform:    skewX(-20deg);
  -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  z-index: 97;
}

#aLightBlue:focus {
  background-color: #9bd7da;
  -webkit-transform:    skewX(-20deg);
  transform:    skewX(-20deg);
  -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  z-index: 97;
}

#aLightBlue {
  background-color: lightgrey;
  color: white;
  padding-top: 20px;
}

#aDarkBlue:hover {
    background-color:  #2856a3;
    -webkit-transform:    skewX(-20deg);
    transform:    skewX(-20deg);
    -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
    box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
    z-index: 99;
}

#aDarkBlue:focus {
    background-color:  #2856a3;
    -webkit-transform:    skewX(-20deg);
    transform:    skewX(-20deg);
    -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
    box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
    z-index: 99;
}

#aDarkBlue {
    background-color: lightgrey;
    color: white;
    padding-top: 20px;
}

#aDarkGreen:hover {
    background-color: #1C8341;
    -webkit-transform:    skewX(-20deg);
    transform:    skewX(-20deg);
    -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
    box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
    z-index: 96;
}

#aDarkGreen{
    background-color: lightgrey;
    color: white;
    padding-top: 20px;
}

#aBlue:hover {
  background-color: #2856a3;
  -webkit-transform:    skewX(-20deg);
  transform:    skewX(-20deg);
  -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  z-index: 96;
}

#aBlue {
  background-color: lightgrey;
  color: white;
  padding-top: 20px;
}

#aLightPurple:hover {
  background-color: #9c61a6;
  -webkit-transform:    skewX(-20deg);
  transform:    skewX(-20deg);
  -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  z-index: 95;
}

#aLightPurple:focus {
  background-color: #9c61a6;
  -webkit-transform:    skewX(-20deg);
  transform:    skewX(-20deg);
  -webkit-box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 0 8px 2px rgba(0,0,0,0.4) ;
  z-index: 95;
}

#aLightPurple {
  background-color: lightgrey;
  color: white;
  padding-top: 20px;
}

/* Hamburger Menu */
.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}


/* footer */

.full {
    width: 100%;
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: lightgrey;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: white;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}

.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: white !important;
}

.social li:hover {
	border: 2px solid white;
}

/* social in dut color */
.fa-facebook:hover {
  color: #2856a3 !important;
}

.fa-twitter:hover {
  color: #9bd7da !important;
}

.fa-google-plus:hover {
  color: #00a457 !important;
}

.fa-youtube:hover {
  color: #e2373b !important;
}

.roundF {
border-radius: 100%;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
width: 100px;
}

.roundF:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}


.developer {
  text-align: center;
}

.footerFont {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
}
